pandas==2.2.2
requests==2.32.3
beautifulsoup4==4.12.3
lxml==5.2.2
minio==7.2.7
psycopg2-binary==2.9.9
SQLAlchemy==2.0.31
kafka-python==2.0.2
python-dotenv==1.0.1
langdetect==1.0.9
apache-airflow==2.9.3
